
config
client/.next/cache/.tsbuildinfo
client/.next/cache/next-server.js.nft.json
client/.next/cache/webpack/client-development/0.pack
client/.next/cache/webpack/client-development/1.pack
client/.next/cache/webpack/client-development/2.pack
client/.next/cache/webpack/client-development/3.pack
client/.next/cache/webpack/client-development/4.pack
client/.next/cache/webpack/client-development/5.pack
client/.next/cache/webpack/client-development/6.pack
client/.next/cache/webpack/client-development/7.pack
client/.next/cache/webpack/client-development/8.pack
client/.next/cache/webpack/client-development/9.pack
client/.next/cache/webpack/client-development/10.pack
client/.next/cache/webpack/client-development/11.pack
client/.next/cache/webpack/client-development/12.pack
client/.next/cache/webpack/client-development/13.pack
client/.next/cache/webpack/client-development/14.pack
client/.next/cache/webpack/client-development/15.pack
client/.next/cache/webpack/client-development/index.pack
client/.next/cache/webpack/client-development/index.pack.old
client/.next/cache/webpack/client-development-fallback/0.pack
client/.next/cache/webpack/client-development-fallback/1.pack
client/.next/cache/webpack/client-development-fallback/index.pack
client/.next/cache/webpack/client-development-fallback/index.pack.old
client/.next/cache/webpack/client-production/0.pack
client/.next/cache/webpack/client-production/1.pack
client/.next/cache/webpack/client-production/2.pack
client/.next/cache/webpack/client-production/3.pack
client/.next/cache/webpack/client-production/4.pack
client/.next/cache/webpack/client-production/5.pack
client/.next/cache/webpack/client-production/6.pack
client/.next/cache/webpack/client-production/7.pack
client/.next/cache/webpack/client-production/8.pack
client/.next/cache/webpack/client-production/9.pack
client/.next/cache/webpack/client-production/10.pack
client/.next/cache/webpack/client-production/index.pack
client/.next/cache/webpack/client-production/index.pack.old
client/.next/cache/webpack/server-development/0.pack
client/.next/cache/webpack/server-development/1.pack
client/.next/cache/webpack/server-development/2.pack
client/.next/cache/webpack/server-development/3.pack
client/.next/cache/webpack/server-development/4.pack
client/.next/cache/webpack/server-development/5.pack
client/.next/cache/webpack/server-development/6.pack
client/.next/cache/webpack/server-development/7.pack
client/.next/cache/webpack/server-development/8.pack
client/.next/cache/webpack/server-development/9.pack
client/.next/cache/webpack/server-development/10.pack
client/.next/cache/webpack/server-development/11.pack
client/.next/cache/webpack/server-development/12.pack
client/.next/cache/webpack/server-development/index.pack
client/.next/cache/webpack/server-development/index.pack.old
client/.next/cache/webpack/server-production/0.pack
client/.next/cache/webpack/server-production/1.pack
client/.next/cache/webpack/server-production/2.pack
client/.next/cache/webpack/server-production/index.pack
client/.next/cache/webpack/server-production/index.pack.old
client/.next/build-manifest.json
client/.next/react-loadable-manifest.json
client/.next/trace
client/.next/static/chunks/amp.js
client/.next/static/chunks/main.js
client/.next/static/chunks/polyfills.js
client/.next/static/chunks/react-refresh.js
client/.next/static/chunks/webpack.js
client/.next/static/chunks/pages/_app.js
client/.next/static/chunks/pages/_error.js
client/.next/static/chunks/pages/client.js
client/.next/static/chunks/pages/index.js
client/.next/static/development/_buildManifest.js
client/.next/static/development/_middlewareManifest.js
client/.next/static/development/_ssgManifest.js
client/.next/static/webpack/pages/_app.3ec46a58fd490abe.hot-update.js
client/.next/static/webpack/pages/client.1e3c982fbddb569f.hot-update.js
client/.next/static/webpack/pages/client.3f79e97c50b47a47.hot-update.js
client/.next/static/webpack/pages/client.511ecbae0476d711.hot-update.js
client/.next/static/webpack/pages/client.32974b9e019fd055.hot-update.js
client/.next/static/webpack/pages/client.608851b954c593b5.hot-update.js
client/.next/static/webpack/pages/client.add113df21fde2d9.hot-update.js
client/.next/static/webpack/pages/client.b82dfbe933413689.hot-update.js
client/.next/static/webpack/pages/client.dca19920274dbf37.hot-update.js
client/.next/static/webpack/pages/client.def7609c9093bf54.hot-update.js
client/.next/static/webpack/pages/client.e200cadf15d75fc3.hot-update.js
client/.next/server/middleware-build-manifest.js
client/.next/server/middleware-manifest.json
client/.next/server/middleware-react-loadable-manifest.js
client/.next/server/pages-manifest.json
client/.next/server/webpack-runtime.js
client/.next/server/pages/_app.js
client/.next/server/pages/_document.js
client/.next/server/pages/_error.js
client/.next/server/pages/client.js
client/.next/server/pages/index.js
.gitignore
client/.next/static/webpack/1e3c982fbddb569f.webpack.hot-update.json
client/.next/static/webpack/3ec46a58fd490abe.webpack.hot-update.json
client/.next/static/webpack/3f79e97c50b47a47.webpack.hot-update.json
client/.next/static/webpack/511ecbae0476d711.webpack.hot-update.json
client/.next/static/webpack/659c41fea9caf749.webpack.hot-update.json
client/.next/static/webpack/32974b9e019fd055.webpack.hot-update.json
client/.next/static/webpack/608851b954c593b5.webpack.hot-update.json
client/.next/static/webpack/add113df21fde2d9.webpack.hot-update.json
client/.next/static/webpack/b82dfbe933413689.webpack.hot-update.json
client/.next/static/webpack/dca19920274dbf37.webpack.hot-update.json
client/.next/static/webpack/def7609c9093bf54.webpack.hot-update.json
client/.next/static/webpack/e200cadf15d75fc3.webpack.hot-update.json
client/.next/static/webpack/ec28334cc84f3235.webpack.hot-update.json
client/.next/static/webpack/f267e6cf3ff3f6bd.webpack.hot-update.json
client/.next/static/webpack/webpack.1e3c982fbddb569f.hot-update.js
client/.next/static/webpack/webpack.3ec46a58fd490abe.hot-update.js
client/.next/static/webpack/webpack.3f79e97c50b47a47.hot-update.js
client/.next/static/webpack/webpack.511ecbae0476d711.hot-update.js
client/.next/static/webpack/webpack.659c41fea9caf749.hot-update.js
client/.next/static/webpack/webpack.32974b9e019fd055.hot-update.js
client/.next/static/webpack/webpack.608851b954c593b5.hot-update.js
client/.next/static/webpack/webpack.add113df21fde2d9.hot-update.js
client/.next/static/webpack/webpack.b82dfbe933413689.hot-update.js
client/.next/static/webpack/webpack.dca19920274dbf37.hot-update.js
client/.next/static/webpack/webpack.def7609c9093bf54.hot-update.js
client/.next/static/webpack/webpack.e200cadf15d75fc3.hot-update.js
client/.next/static/webpack/webpack.ec28334cc84f3235.hot-update.js
client/.next/static/webpack/webpack.f267e6cf3ff3f6bd.hot-update.js
.vscode/launch.json
client/.next/package.json
